.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.839);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.form {
  background-color: var(--bg-color);
  width: 300px;
  border-radius: 30px;
  border: 1px solid black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-textarea {
  position: relative;
}

.form textarea {
  width: 100%;
  font-size: 14px;
  padding: 12px 10px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 8px;
  outline: none;
  line-height: 1.4;
  box-sizing: border-box;
  position: relative;
  outline: none;
  transition: border-color 0.3s ease;
}

.form textarea:focus {
  border-color: #52c86a;
  color: var(--text-color);
}

.form-textarea .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.form textarea.textarea-error {
  border-color: #fa713c;
}

.close-btn {
  width: 45px;
  aspect-ratio: 1/1;
  margin-left: auto;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  color: white;
  top: 20px;
  right: 20px;
}

.priority-selector-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priority-label {
  font-size: 12px;
  color: var(--text-color);
  text-transform: lowercase;
  margin: 0;
  padding: 0;
  position: static;
  pointer-events: auto;
  background-color: transparent;
}
