.kanban {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  overflow-x: hidden;
}

.kanban-column {
  flex: 1;
  padding: 15px;
  min-width: 250px;
}

.kanban-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kanban-card {
  background: white;
  border-radius: 30px;
  border: 1px solid black;
  padding: 30px;
}

.kanban-card p {
  font-size: 18px;
  margin: 0px;
  color: black;
}

.kanban-card.work {
  color: black;
  background: #ef89e7;
}

.kanban-card.studying {
  color: black;
  background: #948af5;
}

.kanban-card.personal {
  color: black;
  background: #fa713c;
}

.kanban-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.priority {
  color: black;
}
