.nav-panel {
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-panel-left {
  display: flex;
  gap: 10px;
}

.nav-panel-right {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex: 1 1 auto;
  align-items: center;
}

.add-btn {
  width: 100px;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 16px;
  background-color: #66dc7e;
}

.toggle-wrapper {
  position: relative;
  width: 320px;
  height: 45px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.toggle-bg {
  position: absolute;
  top: -0.8px;
  left: -1px;
  width: 50%;
  height: 100%;
  background-color: #66dc7e;
  border-radius: 50px;
  border: 1px solid black;
  transition: transform 0.25s ease;
  z-index: 0;
}

.toggle-btn {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  height: 45px;
  width: 160px;
  color: var(--border-color);
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.toggle-btn.active {
  background-color: transparent;
  border: none;
  color: black;
}

@media (max-width: 1250px) {
  .add-btn {
    width: 50px;
    font-size: 18px;
  }

  .toggle-wrapper {
    width: 220px;
  }
  .toggle-btn {
    width: 110px;
    font-size: 16px;
  }
}

.filters-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 900px) {
  .nav-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .nav-panel-left {
    width: 100%;
  }
  .nav-panel-right {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .nav-panel-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .toggle-wrapper {
    width: 100%;
  }

  .toggle-btn {
    width: 50%;
  }
}
