table {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

td,
th {
  border-bottom: 1px solid var(--border-color);
  text-align: left;
  height: 45px;
  padding: 20px 0px;
}

th:first-child,
td:first-child {
  width: 250px;
}

td:first-child p {
  padding-right: 80px;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 90px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  color: black;
  width: 130px;
  height: 40px;
  cursor: pointer;
}

.tag-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag.none {
  opacity: 0.2;
  color: var(--text-color);
}

.tag.work {
  background-color: #ef89e7;
  border-color: black;
}

.tag.personal {
  background-color: #fa713c;
  border-color: black;
}

.tag.studying {
  background-color: #948af5;
  border-color: black;
}

/* SELECT */
.select-wrapper {
  position: relative;
  display: inline-flex;
  width: 130px;
  height: 40px;
}

.select {
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background-color: transparent;
  height: 40px;
  width: 130px;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  text-align: center;
  line-height: normal;
  padding-right: 35px;
}

.select.work {
  background-color: #ef89e7;
  border-color: black;
  color: black;
}

.select.personal {
  background-color: #fa713c;
  border-color: black;
  color: black;
}

.select.studying {
  background-color: #948af5;
  border-color: black;
  color: black;
}

.select.none {
  background-color: transparent;
  border-color: var(--border-color);
  color: var(--text-color);
  opacity: 1;
}

.select.status {
  border: none;
  width: 100%;
}

.select-wrapper.status {
  width: 120px;
}

.select-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
