table {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #000000;
  padding: 20px;
  text-align: left;
  height: 40px;
}

th:first-child,
td:first-child {
  width: 500px;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
  width: 150px;
}

th:last-child,
td:last-child {
  width: 50px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50px;
  height: 40px;
  width: 130px;
}

.tag-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag.none {
  border: none;
}

.tag.work {
  background-color: #ef89e7;
}

.tag.personal {
  background-color: #fa713c;
}

.tag.studying {
  background-color: #948af5;
}
